<a href="https://colab.research.google.com/github/rizna-azzahra-fahrudin/TUGAS-PPLG/blob/main/variabel_horoskop_operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variabel Python
int = angka (0-9)

string = "huruf A-Z" dan karakter (!@_-}?)

float = desimal (1,5 - 2,9 - 4,1)

# Tugas Variabel Python

In [ ]:
#INT
z = 9
x = 5
y = z + x
print (y)

r = 2
s = 3
n = r + s
print (n)

14
5

In [ ]:
#STRING

a = 'rizna'
b = 'azzahra'
c = a + b
print(c)

a = 'profesor'
b = '!'
c = a + b
print(c)

riznaazzahra
profesor!

In [ ]:
#FLOAT
m = 1,5
y = 2,7
x = m + y
print (x)

a = 7,1
b = 2,6
c = a + b
print (c)

(1, 5, 2, 7)
(7, 1, 2, 6)

# Tugas Horoskop

In [ ]:
a = input ("nama teman 1 :")
b = input ("nama teman 2 :")
print ("berdasarkan hasil kesepakatan :" ,a , "dan" ,b , "cocok menjadi pengurus kelas")

nama teman 1 :sasa
nama teman 2 :fulo
berdasarkan hasil kesepakatan : sasa dan fulo cocok menjadi pengurus kelas

# Tugas Operator Aritmatika

In [ ]:
#1. pertambahan
a = 43
b = 56
c = a + b
print (c)

#2. pengurangan
a = 64
b = 30
c = a - b
print (c)

#3. perkalian
a = 77
b = 4
c = a * b
print (c)

#4. pembagian
a = 88
b = 8
c = a / b
print (c)

#5. perpangkatan
a = 5
b = 2
c = a**b
print (c)

#6. modulus
a = 55
b = 10
c = a % b
print (c)

99
34
308
11.0
25
5

# Tugas Operator Perbandingan

In [ ]:
#1. lebih besar >
a = 88
b = 75
c = a > b
print (c)

#2. lebih kecil <
a = 20
b = 57
c = a < b
print (c)

#3. lebih besar >=
a = 100
b = 72
c = a >= b
print (c)

#4. lebih kecil <=
a = 2
b = 50
c = a <= b
print (c)

#5. tidak sama !=
a = "bersih"
b = "kotor"
c = a != b
print (c)

#6. sama dengan ==
a = "tinggi"
b = "tinggi"
c = a == b
print (c)

True
True
True
True
True
True